.GenerateContainer {
    width: 100%;
    height: calc(100% - 58px);
}

.GenerateSettings {
    display: flex;
    flex-direction: row;
}

#Podręcznik,
#Dział {
    width: 25%;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

#Podręcznik {
    margin-left: 20px;
}

#Podręcznik>option,
#Dział>option {
    font-size: 16px;
}

.GenerateButton {
    margin-left: 10px;
    cursor: pointer;
    width: 150px;
    height: 32px;
    background-color: var(--primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GenerateButton:hover {
    cursor: pointer;
}



.Warning {
    color: red;
    font-size: 24px;
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    height: 24px;
}

.WarningDummy {
    margin-bottom: 10px;
    height: 24px;
}

.TestsContainer {
    width: 100%;
    height: calc(100% - 42px);
    margin-top: 10px;
}

.Tests {
    display: flex;
    flex-direction: row;
}

.ReadyTests {
    width: calc(25% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.Tests>.ReadyTests:first-child {
    border-left: none;
}

.Tests>.ReadyTests:last-child {
    border-right: none;
}

.TestTitle {
    text-align: center;
}

.TestContent {
    user-select: text;
}