@import url('../assets/colors.css');

.MenuContainer {
    width: max(17%, 200px);
    padding-top: 18px;
    padding-bottom: 8px;
    padding-left: 20px;
}

.MenuButton {
    background-color: var(--primary);
    align-self: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 32px;
    border-radius: 10px;
    user-select: none;
}

.MenuButton:hover {
    color: var(--text-button-active);
    cursor: pointer;
    background-color: var(--secondary);
}